.heading
{
	font-size:20px;
	background-color:#d0e4fe;
	width:500px;
	text-align:center;
	height:30px;
}
.form
{
padding-top:3px;
	align:center;
	border: 3px solid #d0e4fe ;
	background-color:#d0e4fe;
	width:500px;
	text-align:center;
	height:80px;

}
.signup
{

	border: 3px solid #d0e4fe ;
	background-color:#d0e4fe;
	width:500px;
	text-align:center;
}